body {
	background-image: linear-gradient(#9C640C, #2ECC71);
	font-family: trebuchet ms;
}

#md {
	margin-left: 380px;
}

#go ul li a{
	text-decoration: none;
	padding: 10px;
	color: white;
	font-size: 20px;
}

#go ul{
	list-style-type: none;
}
#go ul li{
	float: left;
}

#go {
	display: flex;
	overflow: auto;
	padding: 5px 0;
}


#logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 90px;
	width: 120px;
}

#top h1{
	margin: 3px;
	letter-spacing: 4px;
	font-size: 40px;
	font-family: trebuchet ms;
	text-align: center;
	color: #2ECC71;
	font-size: 50px;
	margin: -10px;
}

#top h2{
	margin: 3px;
	letter-spacing: 4px;
	letter-spacing: 1.8px;
	font-size: 40px;
	font-family: baskerville old face;
	text-decoration: none;
	text-align: center;
	color: #2ECC71;
}

h2 {
	font-size: 45px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#faq h2 {
	color: #0A3409;
	font-size: 50px;
}

#gaq h2 {
	color: #0A3409;
}

#faq {
	box-sizing: border-box;
	margin: 0 0 0 0;
}

article {
	border: 3px solid white;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
	background-color: #EEE;
	position: relative;
	padding: 15px;
	background-color: #0A3409;
}

h3 {
	color: white;
	font-size: 25px;
	margin: -4px;
	margin-left: 0px;
}

#faq h4 {
	color: white;
	font-size: 25px;
	margin: -4px;
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: -5px;
}

#faq p {
	color: #F7DAD4;
	font-size: 15px;
	margin-left: 20px;
	margin-top: 10px;
}

#gaq {
	box-sizing: border-box;
	margin: 0 0 0 0;
}

#ques h3 {
	margin: -4px;
	margin-left: 0px;
	margin-bottom: 18px;
}

#qsbotn {
	width: 100px;
	height: 40px;
}

#logotwo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	width: 100px;
	line-height: 3px;
}

#ftr h4 {
	text-align: center;
	font-size: 20px;
	font-family: baskerville old face;
	letter-spacing: 1px;
	font-weight: 10px;
	color: #9C640C;
	margin-top: 2px;
	margin-bottom: -10px;
}

#ftr p {
	text-align: center;
	color: #9C640C;
	margin-bottom: 0px;
}